<div class="circular">
    <div class="nav-arrow left"><i class="fa fa-chevron-left"></i></div>
    <div class="circular-spread" id="circular-spread">
        <div class="circular-page" ng-repeat="page in vm.circularData.data">
            <img src="{{page.img}}" />
            <a href="{{hotspot.hierarchyURL}}" target="_blank" class="hotspot" ng-repeat="hotspot in page.hs" style="left: {{ hotspot.coords[0] * .49 }}px; top: {{ hotspot.coords[1] * .49 }}px; height: {{ (hotspot.coords[2] *.49) - (hotspot.coords[0] * .49) }}px; width: {{ (hotspot.coords[3] * .48) - (hotspot.coords[1] * .49) }}px;">
            </a>
        </div>
    </div>

    <div class="nav-arrow right" ng-click="console.log('hi')" >
        <i class="fa fa-chevron-right"></i>
    </div>
</div>