<div class="circular">
    <h3>{{ vm.activeCircular.adName }} </h3>
    <p>{{ vm.activeCircular.adValidDates }} </p>

    <!-- pick a circular page to go to -->
    <div ng-if="vm.activeCircular" class="circular-navigation-dropdown">
        <select ng-model="vm.activePage" ng-change="vm.setPage()" ng-options="pg.pgNo as pg.pgNo for pg in vm.circularData.data">
            <option value="0">Go to Page</option>
        </select>
    </div>

        <!-- back one circular page -->
        <div ng-if="vm.activeCircular" class="nav-arrow left" ng-click="vm.previousPage()">
            <i class="fa fa-chevron-left"></i>
        </div>
        <!-- the circular spread itself -->
        <div class="circular-spread" create-circular-paging>
            <div class="circular-page {{page.pgNo}}" ng-repeat="page in vm.circularData.data">
                <img src="{{page.img}}" />
                <a href="{{hotspot.hierarchyURL}}" target="_blank" class="hotspot" ng-repeat="hotspot in page.hs" style="left: {{ hotspot.coords[0] * .49 }}px; top: {{ hotspot.coords[1] * .49 }}px; height: {{ (hotspot.coords[2] *.49) - (hotspot.coords[0] * .49) }}px; width: {{ (hotspot.coords[3] * .48) - (hotspot.coords[1] * .49) }}px;">
                </a>
            </div>
        </div>
        <!-- advance circular page -->
        <div ng-if="vm.activeCircular" class="nav-arrow right" ng-click="vm.nextPage()" >
            <i class="fa fa-chevron-right"></i>
        </div>

    <!-- back to weekly ads index -->
    <!-- <a ui-sref="store.weekly-ads" ng-if="vm.activeCircular">Back To Weekly Ads</a> -->
</div>